body {
    font-family: "Saira";
    font-weight: 400;
    font-size: 1rem;
}

.white-space-nowrap {
    white-space: nowrap;
}

.link-underline {
    text-decoration: underline;
}

.border-bottom-solid {
    border-bottom: 1px solid #000;
}

.border-top-solid {
    border-top: 1px solid #000;
}

.page-header {
    padding: 3.75rem 6.25rem 0 10rem;
    margin-bottom: 3.25rem;

    &__heading {
        font-size: 3.75rem;
    }

    @media screen and (max-width: 991px) {
        padding: 2.75rem 6.25rem 0 6rem;
    }

    @media screen and (max-width: 567px) {
        padding: 2rem 2rem 0 2rem;
    }

    &__actions {
        .btn {
            @media screen and (max-width: 567px) {
                font-size: 1.3rem;
                padding: .6rem 1.6rem;
            }
        }
    }
}

.section-container {
    padding-left: 6rem;
    padding-right: 6rem;

    @media screen and (max-width: 1333px) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    @media screen and (max-width: 991px) {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    @media screen and (max-width: 567px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.statistics {
    &__filter {
        margin-bottom: 2.5rem;

        &--link {
            font-size: 1.5rem;
            color: $color-light;

            &:hover,
            &:active,
            &:focus,
            &.active {
                color: $color-primary;
            }
            
            @media screen and (max-width: 576px) {
                font-size: 1.2rem;
            }
        }
    }

    &__data {

        &--label {
            font-size: 1rem;
            color: $color-light;
            margin-bottom: .5rem;
        }

        &--info {
            font-size: 3rem;
        }

        &--plan {
            position: absolute;
            color: #fff;
            bottom: 10px;
            right: 0;
            font-weight: 600;
            display: flex;
            transform: translateY(100%);
        }

        &--disabled {
            padding: .5rem 1rem .5rem 2rem;
            background-color: #b8b8b8;
            clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 85% 100%, 30% 100%, 26% 96%, 15% 64%, 4% 20%, 0 0);
            transform: translateX(10px);
        }

        &--update {
            padding: .5rem 1rem .5rem 1.5rem;
            background-color: #006fff;
            color: #fff;
            clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 17% 100%, 14% 100%, 12% 98%, 8% 69%, 4% 31%, 0% 0);

            &:hover,
            &:active,
            &:focus {
                color: #ffffffcc;
            }
        }

        &--free {
            padding: .5rem 1rem .5rem 3rem;
            background-color: #01aef0;
            clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 85% 100%, 30% 100%, 26% 96%, 15% 64%, 4% 20%, 0 0);
        }
    }

    &--current {
        font-size: 1.5rem;
        color: $color-primary-dark;
        margin-bottom: 2.5rem;
    }
}

table {
    .btn-group > .btn {
        font-size: 1rem;
    }
}

.dataTables_wrapper {
    overflow-x: auto;
}

table tr {
    background-color: #fff !important;
    white-space: nowrap;

    & td {
        background-color: #fff !important;
    }

    &:hover {
        background-color: #fff !important;
    }
}

td.details-control,
th.details-control {
    cursor: pointer;

    &::after {
        content: "\002b";
        font-size: 22px;
        font-weight: 600;
        height: 25px;
        width: 25px;
        margin: 0 auto;
        color: white;
        background-color: #29b16a;
        border-radius: 50%;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
tr.details td.details-control {

    &::after {
        content: "\002d";
        background-color: #ed1a39;
        padding-bottom: 3px;
    }
}

.features {

    margin-bottom: 5.5rem;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--icon {
            margin-bottom: 5rem;
            @media screen and (max-width: 1333px) {
                margin-bottom: 1.5rem;
                max-width: 200px;
            }

            @media screen and (max-width: 991px) {
                max-width: 90%;
            }

            @media screen and (max-width: 792px) {
                max-width: 80%;
            }

            @media screen and (max-width: 576px) {
                margin-bottom: .5rem;
                max-width: 50%;
            }
        }

        &--description {
            font-size: 2.25rem;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            padding: 0 1rem;
            margin-bottom: 0.5rem;
            min-width: 22rem;

            @media screen and (max-width: 1333px) {
                font-size: 1.75rem;
                min-width: 15rem;
            }

            @media screen and (max-width: 991px) {
                font-size: 1.4rem;
                min-width: 10rem;
            }

            @media screen and (max-width: 792px) {
                font-size: 1.1rem;
                min-width: unset;
            }

            @media screen and (max-width: 576px) {
                font-size: 2rem;
            }
        }

        &--current {
            font-size: 1.5rem;
            color: $color-light;
        }
    }
}

.statistics-main {
    &.row {
        &.px-5 {
            @media screen and (max-width: 1333px) {
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }
    }
}

.footer {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #0d1c61;

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    &__body {

        &--description {
            .btn {
                font-size: 100%;
            }
        }
    }
}

@media screen and (max-width: 1650px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1333px) {
    html {
        font-size: 70%;
    }

    .subscriptions,
    .notifications {
        font-size: 130%;

        & h6 {
            font-size: 110%;
        }
    }
}