$theme-colors: (
  "primary": #008ed4,
  "secondary": #b7bec1,
  "danger": #ed1a39
);

$color-primary: #008ed4;
$color-primary-light: #00aeef;
$color-primary-dark: #006dff;

$color-light : #838383;
$text-muted: #838383;

@import "../bootstrap/scss/bootstrap.scss";

.bg-primary {
    background-color: $color-primary !important;
}

.bg-primary-light {
    background-color: $color-primary-light !important;
}

.bg-primary-dark {
    background-color: $color-primary-dark !important;
}

.bg-primary-linear {
    background-image: linear-gradient(75deg, #004471 0%, #008ed4 100%) !important;
}

.bg-primary-linear-bottom {
    background-image: linear-gradient(to bottom, #004471 0%, #008ed4 100%) !important;
}

.bg-primary-radial {
    background-image: radial-gradient(circle at center, $color-primary-light 1%, $color-primary 100%);
}

.bg-primary-light-linear {
    background-image: linear-gradient(75deg, #008dd3 0%, #b3d9f3 99%) !important;
}

.bg-success-linear {
    background-image: linear-gradient(75deg, #29b16a 0%, #91d48d 99%);
}

.bg-success-light-linear {
    background-image: linear-gradient(75deg, #29b16a 0%, #7dd479 99%);
}

.h-lg-100 {
    @media screen and (min-width: 991px) {
        height: 100% !important;
    }
}

.px-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;

    @media screen and (max-width: 1333px) {
        padding-left: 3.5rem !important;
        padding-right: 3.5rem !important;
    }
}

.pr-10 {
    padding-right: 10rem !important;

    @media screen and (max-width: 1333px) {
        padding-right: 3.5rem !important;
    }
}

.pl-10 {
    padding-left: 10rem !important;

    @media screen and (max-width: 1333px) {
        padding-left: 3.5rem !important;
    }
}

.navbar .nav-link {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 3rem;
}

.rounded-md {
    border-radius: 1rem !important;
}

.rounded-lg {
    border-radius: 1.875rem !important;
}

.rounded-top-lg {
    border-radius: 1.875rem 1.875rem 0 0 !important;
}

.rounded-bottom-lg {
    border-radius: 0 0 1.875rem 1.875rem !important;
}

.btn-group {
    & > .btn {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    &  > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-left-radius: 50rem;
        border-bottom-left-radius: 50rem;
    }

    & > .btn:not(:first-child) {
        border-top-right-radius: 50rem;
        border-bottom-right-radius: 50rem;
    }
}

.navbar {
    padding: 1.5rem 6rem;

    @media screen and (max-width: 1333px) {
        padding: 1.5rem 5rem !important;
    }

    @media screen and (max-width: 991px) {
        padding: 1rem 3.5rem !important;
    }

    @media screen and (max-width: 567px) {
        padding: 1rem 2rem !important;
    }
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.card {
    border: none;
    filter: drop-shadow(0px 26px 32.5px rgba(152,170,180,0.64));

    .big-size {
        font-size: 3.75rem;
        font-weight: bold;
    }

    .big-size-1 {
        font-size: 5.2rem;
        font-weight: bold;
    
        @media screen and (max-width: 991px) {
            font-size: 5.2rem;
        }
    
        @media screen and (max-width: 567px) {
            font-size: 3.6rem;
        }
    }

    .btn {
        border-radius: 50rem;
    }

    input {
        font-size: 130%;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 2.8rem;

        @media screen and (max-width: 991px) {
            font-size: 2.2rem;
        }
    
        @media screen and (max-width: 567px) {
            font-size: 1.9rem;
        }
    }

    h3 {
        font-size: 1.8rem;
    
        @media screen and (max-width: 567px) {
            font-size: 1.6rem;
        }
    }
}

.card .label {
    font-size: 1.375rem;
    font-weight: 600;
    color: $color-light;
    margin-bottom: 1rem;

    @media screen and (max-width: 1333px) {
        font-size: 1.2rem;
    }
}

.card .info:not(:last-child) {
    margin-bottom: 2.3rem;
}

.card .info {
    font-size: 2.25rem;
    font-weight: 600;
    color: #000000;

    @media screen and (max-width: 1333px) {
        font-size: 1.75rem;
    }
}

.card-header {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;

    h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.card-body {
    padding: 2.5rem 2rem;

    li {
        font-size: 1.25rem;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        span {
            font-weight: 600;
            border-radius: 50rem;
            padding: .3rem 1rem;
        }
    }
}

@import "./custom.scss";